html, body {
  font-family: Verdana, Helvetica;
  font-size:   14px;
  margin:      0;
}
html {
  padding:    0 10em;
  background: #eee;
  height:     100%;
}
body {
  padding:       0 2em;
  background:    white;
  min-height:    100%;
  border:        1px solid #ddd;
  border-top:    none;
  border-bottom: none;
}
h1, h2, h3, h4, label, dd {
  font-family: Trebuchet MS;
  color:       #444;
}

h1 {
  margin:          0;
  padding:         0;
  padding-top:    .8em;
  padding-bottom: .5em;
}
h2 {
  margin-top: 1em;
}
p.white-space {
  display: block;
  height:  10em;
  margin:  0;
  padding: 0;
}
tt {
  font-family: "Courier New";
  background:  #ddd;
}