html, body {
  margin: 0;
  padding: 0;
  font: 11pt Verdana, Helvetica;
  color: #333;
}

html {
  padding-top: 8em;
  position: relative;
}
body {
  padding: 1em 10em;
  padding-bottom: 5em;
  min-height: 20em;
}

h1, h2, label, dl dt {
  margin-top: 20pt;
  font-weight: normal;
  font-family: "Trebuchet MS", Garuda, sans-serif;
  color: #7A5E44;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  position: absolute;
  top: -.6em;
  font-size: 4em;
  margin: 0;
  padding: 0;
  padding-top: 1em;
}

div#footer {
  position: absolute;
  bottom: 1.5em;
  font-size: 90%;
}

h2 {
  border-bottom: 1px solid;
}